/*
Theme Name: Grandma&rsquo;s Hat Box
Theme URI: http://museumthemes.com
Description:
Author: Arcane Palette Creative Design
Author URI: http://arcanepalette.com
License: GNU General Public License v3.0
License URI: http://www.opensource.org/licenses/gpl-3.0.html
Template: museum-core
Version: 1.1
Bitbucket Theme URI: https://bitbucket.org/jazzsequence/grandmas-hat-box/
Bitbucket Branch: master
*/

/*
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.


    http://www.opensource.org/licenses/gpl-3.0.html
*/

@import url('../museum-core/style.css');

::-moz-selection { background: #95171b; }
::selection { background: #95171b; }


body {
	background: #f5eede url('images/hat_box_background.jpg') center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	color: #333;
}

@media only all and (max-width: 1900px) and (max-height: 1200px) {
	body {
		-moz-background-size: 1900px 1200px;
		background-size: 1900px 1200px;
	}
}

h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif!important; }
h2 { color: #ad7930; }

a, a:visited, a:link {
	color: #a75750;
}
a:hover, a:active, .the_title {
	color: #95171b;
}

.container {
	font-family: Georgia, serif;
}
#wrap {
	background: transparent;
	box-shadow: none;
	max-width: 760px;

}
.alt {
	font-variant: small-caps;
	color: #333;
}

/* Header */

header { margin: 0 0 20px; }

.headerimg {
	width: 667px;
	text-align: center;
	margin: auto;
	clear: both;
}
.headerimg hgroup {
	position: absolute;
	width: 667px;
	height: 266px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0;
	text-align: left;
}
.headerimg h1 a {
	color: #95171b!important;
	font-family: Georgia, serif;
	font-style: italic;
	text-shadow: -2px 3px 1px rgba(255, 255, 255, 0.7);
}
.headerimg h1 {
	position: relative;
	top: 20px;
	left: 50px;
	width: 300px;
	float: left;
	text-align: right;
}
.headerimg hgroup h2 {
	float: right;
	position: relative;
	top: 90px;
	left: -70px;
	width: 200px;
	color: #95171b!important;
	text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
	-moz-transform:rotate(25deg);
	-webkit-transform:rotate(25deg);
	-o-transform:rotate(25deg);
	-ms-transform:rotate(25deg);
	transform: rotate(25deg);
	font-size: 1.4em;
	line-height: 1.0em;
	text-align: center;
}
@media only all and (max-width: 667px) {
	.headerimg {
		max-width: 100%;
	}
	.headerimg hgroup {
		position: relative;
		max-width: 100%;
		height: auto;
	}
	.headerimg h1 {
		position: static;
		float: none;
		text-align: left;
		width: 100%;
	}
	.headerimg hgroup h2 {
		position: static;
		float: none;
		width: 90%;
		text-align: right;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform: rotate(0deg);
		padding: 0 10px;
	}
	hgroup h1 {
		margin: auto 10px!important;
	}
}

nav.topnav .caret,
nav.mainnav .caret,
nav.mainnav a:hover .caret,
nav.topnav a:hover .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}

nav.topnav .nav .open>a,
nav.mainnav .nav .open>a,
nav.mainnav .dropdown-menu,
nav.topnav .dropdown-menu,
nav.topnav .nav>li>a:hover,
nav.topnav .nav>li>a:active,
nav.mainnav .nav>li>a:hover,
nav.mainnav .nav>li>a:active,
nav.topnav .nav li:hover,
nav.topnav .nav li:active,
nav.mainnav .nav li:hover,
nav.mainnav .nav li:active,
nav.topnav .nav li:hover ul,
nav.mainnav .nav li:hover ul {
	background: rgba(245, 238, 222, 1.0);
}
nav.topnav .nav li li>a:hover,
nav.topnav .nav li li>a:active,
nav.mainnav .nav li li>a:hover,
nav.mainnav .nav li li>a:active,
nav.topnav .nav li li:hover,
nav.topnav .nav li li:active,
nav.mainnav .nav li li:hover,
nav.mainnav .nav li li:active {
	background: #f4e2d6;
}
nav.topnav .nav ul li,
nav.mainnav .nav ul li {
	border-radius: 5px 5px 0 0;
}
nav.topnav .nav li:hover ul,
nav.mainnav .nav li:hover ul {
	border-radius: 0 5px 5px 5px;
}

/* Content */

article { border-bottom: 1px dotted #d9cebf; }

article.sticky,
article.format-aside,
article.format-quote {
	background: rgba(245, 238, 222, 0.5);
	border: 1px dotted #d9cebf;
	color: #333;
}
.the_date, .the_title, time, .human-time-diff { font-variant: small-caps; }
.the_date, time { color: #ad7930; }
.postmetadata, time, .human-time-diff { font-family: Georgia, serif; }
.human-time-diff { color: #666666; }

#comments li div.the_comment { border-bottom: 1px dotted #d9cebf; }
#comments ul.children li { border-left: 5px solid #d9cebf; }
li.bypostauthor { background: rgba(245, 238, 222, 1.0); border-bottom: 1px dotted #d9cebf; }
#comments li.bypostauthor div.the_comment { border-bottom: none; }
#comments ul.children li.bypostauthor { border-left: 5px solid #f4e2d6;}

#comments .alt {
  font-family: Georgia, serif;
  color: #333;
  font-variant: normal;
}

#month h2, #categories h2, #links h2 { font-variant: small-caps; font-size: 1.3em; }

.pagination>li>a, .pagination>li>span,
.pager li>a, .pager li>span,
.list-group-item {
	background-color: rgba( 255, 255, 255, 0.6 );
}

.breadcrumb,
.pagination>li>a:hover,
.pager li>a:hover,
.chat-transcript > .chat-row:nth-child(odd) {
	background-color: rgba(249, 249, 249, 0.4);
}

/* Sidebar */

.sidebar ul { padding: 0!important; }
.sidebar form#searchform input#s { width: 74.05%; } { width: 74.05%; }
form#searchform input#s {
  background: url('../museum-core/images/search.png') 98% 1px no-repeat #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
form#searchform input#s:active, form#searchform input#s:focus {
  background: url('../museum-core/images/search.png') 130% 1px no-repeat #fff;
}
footer h3, .sidebar h3 { color: #ad7930; font-size: 1.3em; font-variant: small-caps; }